
body {
	background-image: url(https://images.unsplash.com/photo-1494376877685-d3d2559d4f82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
	background-size: cover;
	color: rgba(229, 225, 216, 1);
}

h1 {
	border: 1px solid rgba(229, 225, 216, 0.5);
	border-radius: 15px;
	background-color: rgba(35, 35, 37, 0.60); 
	text-align: center;
	margin-left: 500px;
	margin-right: 500px;
}

form {
	background-color: rgba(35, 35, 37, 0.60);
	text-align: center;
	margin-left: 500px;
	margin-right: 500px;
	border-radius: 15px;
	font-size: 1.3em;
}

/*.gender {
	display: inline-block;
}*/

a {
	color: rgba(229, 225, 216, 1);
}